:root {
  --color-principal: #201c32;
  --color-secundario: #fdac44;
  --color-gris-claro: #f5e7eb;
}

#Admin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  margin-bottom: 100px;
}

.fondo-primario,
.fondo-primario:hover {
  background-color: var(--color-principal);
}

.fondo-secundario,
.fondo-secundario:hover {
  background-color: var(--color-secundario);
}

.submit {
  border-radius: 28px;
  font-family: Arial;
  color: var(--color-gris-claro);
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 45%;
  margin-top: 80px;
}

.submit:hover {
  border: 0;
  background: var(--color-secundario);
  cursor: pointer;
  text-decoration: none;
}
